<!-- Nav Bar -->
<app-navbar></app-navbar>

<div class="profileBackground">
	
	<div class='row h-100'>
		<div class="col-sm-4"></div>
		<div class="col-sm-4 my-auto">
			<h4 align="center">Admin</h4>
			<div class="profileTransbox container-fluid">
				<a class="user" routerLink="/admin-clients">Manage Customers</a><br>
				<a class="user" routerLink="/admin-clients/new">Add Customers</a><br>
				<a class="user" routerLink="/admin-clients/edit">Update/Delete Customers</a><br>
				<a class="user" routerLink="/blog-new">Add Blog</a><br>
				<a class="user" routerLink="/blog-edit">Edit Blog</a><br>
				<!-- Pages to Be Created Later -->
				<a class="user" routerLink="/admin">Manage Trip Details</a><br>
				<a class="guest" routerLink="/admin">Manage Payments</a><br>
				<a class="guest" routerLink="/admin">Itinerary Requests</a><br>
				<a class="user" routerLink="/admin">Messages</a><br>
				<a class="user" routerLink="#" (click)= "logout()">Log Out</a>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>