<!-- Nav Bar -->
<app-navbar></app-navbar>


<div>
<!-- Back Button (To Blog Page)-->
<a style="color: #000000" routerLink="/blog-main"><b>Back</b></a>
</div>

<!-- Blog Edit Fields -->
<div>
	<div class="container">
		<form id="blogForm" (ngSubmit)="update()" #f="ngForm">
			<!-- Blog Title -->
			<div class="form-group">
				<label><b>Title</b></label>
				<input class="form-control" type="text" name="title" placeholder="Enter your blog title." required ngModel="{{blog.title}}" #title="ngModel">
			</div>

			<!-- Missing Title Alert -->
			<div class="alert alert-danger" *ngIf="title.invalid && title.touched">Title cannot be empty.</div>

			<!-- Blog Entry -->
			<div class="form-group">
				<label><b>Entry</b></label>
				<quill-editor class="form-control" name="entry" rows="5" required ngModel={{blog.entry}} #entry="ngModel"></quill-editor>
			</div>

			<!-- Missing Entry Alert -->
			<div class="alert alert-danger" *ngIf="entry.invalid && entry.touched">Entry cannot be empty.</div>

			<!-- Update Button -->
			<button class="btn btn-primary btn-block float-right" type="submit" [disabled]="f.invalid">Update</button>

			<br>
			<br>

			<!-- Delete Button Blog-List-->
			<button (click)="delete()" type="button" class="btn btn-danger btn-block">Delete</button>
		</form>
	</div>
</div>

