<!-- Nav Bar -->
<app-navbar></app-navbar>

<!-- User Account -->
<div class="container float-left registerBackground" style="width: 50%">
	<h4 align="center">Profile:</h4>

	<br>

	<!-- Update Information Form -->
	<form (ngSubmit)="update()" #f="ngForm">
		<h6>Account Info:</h6>

		<!-- Username -->
		<div class="form-group">
			<label>Username</label>
			<br>
			<input class="form-control" name="username" type="text" placeholder="Username" required ngModel="{{user.username}}" #username="ngModel">
		</div>

		<!-- Missing/Invalid username alert -->
		<div class="alert alert-danger" *ngIf="username.invalid && username.touched">Please enter username!</div>

		<!-- Alert if username is taken -->
		<div class="alert alert-danger" *ngIf="usernameError">Username is already taken, please try another one!</div>

		<!-- Password -->
		<div class="form-group">
			<label>Password</label>
			<input class="form-control" name="password" type="password" placeholder="Password" required ngModel="{{user.password}}" #password="ngModel">
		</div>

		<!-- Missing/Invalid password alert -->
		<div class="alert alert-danger" *ngIf="password.invalid && password.touched">Please enter password!</div>

		<!-- Verify Password -->
		<div class="form-group">
			<label>Verify Password</label>
			<input class="form-control" name="verifyPassword" type="password" placeholder="Verify Password" ngModel="{{user.verifyPassword}}" #verifyPassword="ngModel" >
		</div>

		<!-- Missing/Invalid verify password alert -->
		<div class="alert alert-danger" *ngIf="verifyPassword.invalid && verifyPassword.touched">Please verify password!</div>

		<!-- Alert if password and verify password don't match) -->
		<div class="alert alert-danger" *ngIf="passwordError">Passwords do not match!</div>

		<br><br>

		<h6>Personal Info:</h6>
		<!-- First Name -->
		<div class="form-group">
			<label>First Name</label>
			<input class="form-control" name="firstName" type="text" placeholder="First Name" required ngModel="{{user.firstName}}" #firstName="ngModel">
		</div>

		<!-- Missing/Invalid First Namne alert -->
		<div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">Please enter first name!</div>

		<!-- Last Name -->
		<div class="form-group">
			<label>Last Name</label>
			<input class="form-control" name="lastName" type="text" placeholder="Last Name" required ngModel="{{user.lastName}}" #lastName="ngModel">
		</div>

		<!-- Missing/Invalid Last Name alert -->
		<div class="alert alert-danger" *ngIf="lastName.invalid && lastName.touched">Please enter last name!</div>

		<!-- DOB -->
		<div class="form-group">
			<label>DOB</label>
			<input class="form-control" name="dob" type="date" placeholder="Date of Birth (dd/mm/year)" required ngModel="{{user.dob}}" #dob="ngModel">
		</div>

		<!-- Missing/Invalid DOB alert -->
		<div class="alert alert-danger" *ngIf="dob.invalid && dob.touched">Please enter date of birth!</div>

		<!-- Gender -->
		<div class="form-group">
			<label>Gender</label>
			<input class="form-control" name="gender" type="text" placeholder="Gender" required ngModel="{{user.gender}}" #gender="ngModel">
		</div>

		<!-- Missing/Invalid Gender alert -->
		<div class="alert alert-danger" *ngIf="gender.invalid && gender.touched">Please enter gender!</div>

		<!-- Country -->
		<div class="form-group">
			<label>Country</label>
			<input class="form-control" name="country" type="text" placeholder="Country" required ngModel="{{user.country}}" #country="ngModel">
		</div>

		<!-- Missing/Invalid Country alert -->
		<div class="alert alert-danger" *ngIf="country.invalid && country.touched">Please enter country!</div>

		<!-- State -->
		<div class="form-group">
			<label>State</label>
			<input class="form-control" name="state" type="text" placeholder="State" required ngModel="{{user.state}}" #state="ngModel">
		</div>

		<!-- Missing/Invalid State alert -->
		<div class="alert alert-danger" *ngIf="state.invalid && state.touched">Please enter state!</div>

		<!-- City -->
		<div class="form-group">
			<label>City</label>
			<input class="form-control" name="city" type="text" placeholder="City" required ngModel="{{user.city}}" #city="ngModel">
		</div>

		<!-- Missing/Invalid City alert -->
		<div class="alert alert-danger" *ngIf="city.invalid && city.touched">Please enter city!</div>

		<!-- Phone Number -->
		<div class="form-group">
			<label>Phone Number</label>
			<input class="form-control" name="phone" type="text" placeholder="Phone Number" required ngModel="{{user.phone}}" #phone="ngModel">
		</div>

		<!-- Missing/Invalid Phone Number alert -->
		<div class="alert alert-danger" *ngIf="phone.invalid && phone.touched">Please enter phone number!</div>

		<!-- E-Mail -->
		<div class="form-group">
			<label>E-Mail</label>
			<input class="form-control" name="email" type="text" placeholder="E-Mail" required ngModel="{{user.email}}" #email="ngModel">
		</div>

		<!-- Missing/Invalid E-Mail alert -->
		<div class="alert alert-danger" *ngIf="email.invalid && email.touched">Please enter e-mail address!</div>

		<!-- Preferred Contact Method -->
		<div class="form-group">
			<label>Preferred Contact Method (Choose One):</label>
			<div class="container">Phone
			<input class="form-control" name="prefPhone" type="checkbox" check="checked" placeholder="Choose One" ngModel="{{user.prefPhone}}" #prefPhone="ngModel">
			<span class="checkmark"></span>
			</div>
			<div class="container">E-Mail
			<input class="form-control" name="prefEmail" type="checkbox" check="checked" placeholder="Choose One" ngModel="{{user.prefEmail}}" #prefEmail="ngModel">
			<span class="checkmark"></span>
			</div>
		</div>

		<br><br>

		<h6>Travel ID:</h6>
		<!-- ID/License/Passport Number -->
		<div class="form-group">
			<label>ID/License/Passport Number</label>
			<input class="form-control" name="idNum" type="text" placeholder="ID/License/Passport Number" ngModel="{{user.idNum}}" #idNum="ngModel">
		</div>

		<div class="form-group">
			<label>ID/License/Passport Type</label>
			<input class="form-control" name="idType" type="text" placeholder="ID/License/Passport Type" ngModel="{{user.idType}}" #idType="ngModel">
		</div>

		<!-- Expiration Date -->
		<div class="form-group">
			<label>Expiration Date</label>
			<input class="form-control" name="idDate" type="date" placeholder="Expiration Date (MM/DD/YYY)" ngModel="{{user.idDate}}" #idDate="ngModel">
		</div>

		<!-- Issuing Country -->
		<div class="form-group">
			<label>Issuing Country</label>
			<input class="form-control" name="idCountry" type="text" placeholder="ID/License/Passport Type" ngModel="{{user.idCountry}}" #idCountry="ngModel">
		</div>

		<!-- Issuing State -->
		<div class="form-group">
			<label>Issuing State</label>
			<input class="form-control" name="idState" type="text" placeholder="Issuing State" ngModel="{{user.idState}}" #idState="ngModel">
		</div>

		<!-- Redress Number -->
		<div class="form-group">
			<label>Redress Number</label>
			<input class="form-control" name="redress" type="text" placeholder="Redress Number" ngModel="{{user.redress}}" #redress="ngModel">
		</div>

		<!-- Known Traveler Number -->
		<div class="form-group">
			<label>Known Traveler Number</label>
			<input class="form-control" name="knownTravelNum" type="text" placeholder="Known Traveler Number" ngModel="{{user.knownTravelNum}}" #knownTravelNum="ngModel">
		</div>

		<!-- Frequent Flyer Information -->
<!-- 		<div class="form-group">
			<label>Frequent Flyer Information</label>
			<input class="form-control" name="freqFlyer" type="text" placeholder="Frequent Flyer Information" ngModel #freqFlyer="ngModel">
		</div> -->

		<!-- Customer Loyalty Information -->
<!-- 		<div class="form-group">
			<label>Customer Loyalty Information</label>
			<input class="form-control" name="custLoyal" type="text" placeholder="Customer Loyalty Information" ngModel #custLoyal="ngModel">
		</div> -->

		<div>
			<!-- Update Button Profile Link-->
			<button class="btn btn-secondary btn-block" type="submit" [disabled]="f.invalid">Update</button>
			<!-- Delete Button Website-List-->
			<button class="btn btn-danger btn-block" (click)="delete()" type="button">Delete</button>
			<!-- Cancel Button User Profile Link -->
			<button class="btn btn-primary btn-block" routerLink="/user">Cancel</button>
		</div>
	</form>
</div>



