<!-- Services Provided, Doing Business -->
<div genservbackground>
	<div>
	<!-- Services Provided: Heading and Description -->
	Services I Provide:
	Travel Consulting
	Travel Booking
	Coordinating Services/Amenities
	Light Event Planning

	<!-- Doing Business: Heading and Description -->
		<h6 class="container-fluid">Doing Business:</h6>
			<p>Travel should be fun and virtually carefree. In order for me to help make this a reality, please keep the following things in mind:</p>

			<ol>
				<li>The more information I have, the better I can work to find what you're looking for! I like to get as much information as I can up front, so that I can work quickly and accurately. If any new information is needed, thereafter, I will reach out via e-mail, phone or text.</li>

				<li>I am happy to help new and existing clients search for the perfect trip! Please understand that these searches may take a great deal of time and care, and have an opportunity cost. Therefore, I will happily perform two free searches per person, per month. Anything beyond this will incur a $25 fee per search or $100 per week for extended searches, if after an itinerary is presented, no trip is booked.</li>

				<li>Pricing and availability are subject to change by the minute. NOTHING is guaranteed in the world of travel. Please assume that all elements of the quotes presented are illustrative. If in the middle of the checkout process the quoted price changes, no payment will be processed, and I will then reach out to client to confirm their approval and continuation of the booking with the new price. If the client is not happy with the new price, I will look for alternatives that are equal to or cheaper than the initially proposed travel itinerary, if available.</li>

				<li>Carefully read over the entire quote/itinerary before you submit payment and after you submit payment. We want to be sure that everyone agrees with and understands what is on paper. Changes can be made without penalty within the first 24 hours. Afterward, the customer is responsible for any fees and price differences that result from a change in travel itinerary.</li>

				<li>It is possible for flight schedules and other elements of a trip to change at the discretion of the vendor. Updated itineraries will be provided to and discussed with clients as they become available.</li>

				<li>Please familiarize yourself with FAA security guidelines, necessary documentation and vaccination needed to travel. I cannot be held responsible for a trip cancelled or interrupted as a result.</li>

				<li>Please remain aware of any weather related events or political/social climates of the locations in which you are traveling to. I will do my very best to be knowledgeable of these elements, however, I cannot be held responsible for any harm that befalls clients as a result of unforeseen difficulties or for things that the client knows/should know are a threat to health or wealth.</li>

				<li>There are no additional charges for working with me. Any compensation to me will be included in the final quote price, and there will be no surprise charges before or after working with me, unless otherwise specified before booking.</li>

				<li>We are in this journey together, so let's both work together for the experience of a lifetime!</li>
			</ol>
	</div>
</div>



<!-- <div style="overflow: auto border:2px solid white; padding:2%"> -->