<!-- Nav Bar -->
<div class="navbar">
	<a href="home">Home</a>
	<a href="about">About</a>
	<div class="dropdown">
		<button class="dropbtn">Services
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a href="services">General Services</a>
			<a href="doing-business">Doing Business</a>
			<a href="itinerary-request">Request Services</a>
		</div>
	</div>
	<a href="blog-main">Blog</a>
	<a href="contact">Contact</a>
	<div class="dropdown">
		<button class="dropbtn">Profile
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<!-- Make My Account and Log Out disappear when not logged in -->
			<a class="user" href="user/{{uid}}">My Account</a>
			<a class="user" href="login">Log Out</a>
			<a class="guest" href="login">Login</a>
			<a class="guest" href="register">Register</a>
		</div>
	</div>
</div>

<!-- Itinerary Request Forms and Travel Info -->
<div class=itinbackground>
	<!-- Left -->
	<div class="itintransbox row container-fluid">
		<div>
			<label>Request Service</label>
			<p>Solo Travel<br>Group Travel<br>Special Event/Occasion Travel<br>Travel Consulting<br>Services/Amenities</p>
		</div>
	</div>

	<!-- Right -->
	<div class="itintransbox row container-fluid">
		<div>
			<label>“Need Some Inspiration?”</label>
			<div>
				<a href="blog-main">“See where I’ve been!”</a>
				<br>
				<a href="https://www.lonelyplanet.com/">“See what’s out there!”</a>
				<!-- Note: Good, but clients can book there. Going to have to express the value of services on the About page.) -->
				<br>
				<a href="https://earthroulette.com/">“Feeling Adventurous? Surprise Yourself!”</a>
				<!--  Note: Link to Earth Roulette Note: Jantaroo is good, but it leads to Expedia -->
				<br>
				<a href="https://www.google.com/">Have an idea and want more info? Google it!”</a>
				<!-- Google Search Bar (Create a search bar: see this link for instructions) -->
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<nav class="navbar navbar-dark fixed-bottom">
	<!-- Admin Login (Button) -->
	<div class="sw-width">
		<a class="sw-font-white float-right" href="admin.html"><i class="fas fa-user"></i></a>
	</div>
</nav>