<!-- Itinerary Request Forms and Travel Info -->
<div>
	<!-- Left -->
	Survey Dropdown
	Client Travel Survey
	Group Client Travel Survey
	Special Event Travel Survey
	Name (First/Last), Date of Birth, Preferred Port of Departure, E-Mail, Phone, Address, Preferences, etc.
	Send/Register/Log-In Option

	<!-- Right -->
	“Need Some Inspiration?”
	“See where I’ve been!” (Link to Blog)
	“See what’s out there!” (Link to Lonely Planet. Note: Good, but clients can book there. Going to have to express the value of services on the About page.)
	“Feeling Adventurous? Surprise Yourself!” (Link to Earth Roulette Note: Jantaroo is good, but it leads to Expedia)
	“Google It” Google Search Bar (Create a search bar: see this link for instructions )
</div>

