<!-- Nav Bar -->
<div class="navbar">
	<a href="#home">Home</a>
	<a href="#about">About</a>
	<div class="dropdown">
		<button class="dropbtn">Services
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a href="services">General Services</a>
			<a href="doing-business">Doing Business</a>
			<a href="itinerary-request">Request Services</a>
		</div>
	</div>
	<a href="#blog">Blog</a>
	<a href="#contact">Contact</a>
	<div class="dropdown">
		<button class="dropbtn">Profile
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<!-- Make My Account disappear when not logged in -->
			<a href="user/{{uid}}">My Account</a>
			<a href="login.html">Login</a>
			<a href="register.html">Register</a>
		</div>
	</div>
</div>

<!-- Itinerary Request Forms and Travel Info -->
<div>
	<!-- Left -->
	Survey Dropdown
	Client Travel Survey
	Group Client Travel Survey
	Special Event Travel Survey
	Name (First/Last), Date of Birth, Preferred Port of Departure, E-Mail, Phone, Address, Preferences, etc.
	Send/Register/Log-In Option

	<!-- Right -->
	“Need Some Inspiration?”
	“See where I’ve been!” (Link to Blog)
	“See what’s out there!” (Link to Lonely Planet. Note: Good, but clients can book there. Going to have to express the value of services on the About page.)
	“Feeling Adventurous? Surprise Yourself!” (Link to Earth Roulette Note: Jantaroo is good, but it leads to Expedia)
	“Google It” Google Search Bar (Create a search bar: see this link for instructions )
</div>

<!-- footer -->
<nav class="navbar navbar-dark fixed-bottom">
	<!-- Admin Login (Button) -->
	<div class="sw-width">
		<a class="sw-font-white float-right" href="admin.html"><i class="fas fa-user"></i></a>
	</div>
</nav>