<!-- Nav Bar -->
<app-navbar></app-navbar>


<!-- Login -->
<div class="row container loginBackground">
	<div>
	<!-- Login Header -->
	<h3>Login</h3>

	<!-- Invalid Username/Password Alert -->
	<div class="alert alert-danger" *ngIf="errorFlag" >Invalid username or password!</div>

	<!-- This is the login form. It has the username and password fields. -->
	<form (ngSubmit)="login()" #f="ngForm">
		<!-- Username -->
		<div class="form-group">
			<input class="form-control" name="username" type="text" placeholder="Username" required ngModel #username="ngModel">
		</div>

		<!-- Missing username alert -->
		<span class="alert alert-danger" *ngIf="username.invalid && username.touched">Please enter username!</span>

		<!-- Password -->
		<div class="form-group">
			<input class="form-control" name="password" type="password" placeholder="Password" required ngModel #password="ngModel">
		</div>

		<!-- Missing password alert -->
		<span class="alert alert-danger" *ngIf="password.invalid && password.touched">Please enter password!</span>

		<div>
			<!-- Login Button Profile Link-->
			<button class="btn btn-primary btn-block" type="submit" [disabled]="f.invalid">Login</button>
			<a href="#">Forgot Username?</a>
			<br>
			<a href="#">Forgot Password?</a>
		</div>
	</form>
</div>

