<div class="homeBackground">
	<div class='row h-100'>
		<div class="col-sm-4"></div>
		<div class="col-sm-4 my-auto">
			<div class="container-fluid btn-group">
				<div class="btn-group" style="width: 100%">
					<button class="homebutton homebutton1" style="width: 20%">
						<h6>About</h6>
						<a routerLink="/about">Learn more!</a>
					</button>

					<button class="homebutton homebutton2" style="width: 20%">
						<h6>Services</h6>
						<a routerLink="/services-main">General Services</a>
						<br>
						<a routerLink="/doing-business">Doing Business</a>
						<br>
						<a routerLink="/service-request">Request Services</a>
					</button>

					<button class="homebutton homebutton3" style="width: 20%">
						<h6>Blog</h6>
						<a routerLink="/blog-main">Be inspired!</a>
					</button>

					<button class="homebutton homebutton4" style="width: 20%">
						<h6>Contact</h6>
						<a routerLink="/contact">Reach out!</a>
					</button>

					<button class="homebutton homebutton5" style="width: 20%">
						<h6>Profile</h6>
						<a routerLink="/login" *ngIf="!loggedIn">Login</a>
						<br>
						<a routerLink="/register" *ngIf="!loggedIn">Register</a>
						<br>
						<a routerLink="/user" *ngIf="loggedIn">My Account</a>
						<br>
						<a routerLink="#" (click)= "logout()" *ngIf="loggedIn">Log Out</a>
					</button>
				</div>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>

<!-- Nav Footer -->
<nav class="navbar navbar-dark fixed-bottom"></nav>