<!-- Nav Bar -->
<app-navbar></app-navbar>

<br><br>
<!-- Back Button (<) and New Client (+) -->
<div align="right" style="width: 95%">
	<!-- Back Button (<) Profile Link-->
	<button routerLink="/admin">Back</button>
	<br><br>
	<button routerLink="/admin-clients/new">New Client</button>
</div>

<br>
<!-- Search Bar (User Search) -->
<div class="container" align="left">
<!-- Search Box -->
<input class="form-control" type="text" name="search"   placeholder="Search Users..." [(ngModel)]="search">
</div>
<br>

<!-- Client List and Cogs -->
<div class="container" align="left">
	<!-- Edit Client List-->
	<ul class="list-group" align="center">
		<!-- Client List -->
		<li class="list-group-item" *ngFor="let user of users">
			<!-- Client-List Link -->
			<a class="text-primary" routerLink="#">{{user.username}}</a>
			<!-- Client Delete -->
			<a class="float-right" routerLink="#"><i class="fas fa-times"></i></a>
			<!-- Client-Edit Cogs -->
			<a class="float-right" routerLink="/account-info/{{user._id}}"><i class="fas fa-cog"></i></a>
		</li>
	</ul>
</div>


<!-- function filterNames(){
	var filterInput = document.querySelector('#search');
	filterInput.addEventListener('keyup', filterNames);
	var filterValue = filterInput.value.toUpperCase();
	var li = document.querySelectorAll('li.list-group-item');
	for (var i=0; i<li.length; i++){
		var a = li[i].querySelector('a');
		if(a.innerHTML.toUpperCase().includes(filterValue)){
			li[i].style.display = 'block';
		} else{
			li[i].style.display = 'none';
		}
	}
} -->