<!-- Nav Bar -->
<app-navbar></app-navbar>


<div>
<!-- Back Button (To Blog Page)-->
<a style="color: #000000" routerLink="/admin"><b>Back</b></a>
</div>


<!-- New Blog Form -->
<div>
	<div class="container">
		<form id="blogForm" (ngSubmit)="create()" #f="ngForm">
			<!-- Blog Title -->
			<div class="form-group">
				<label for="blog-title"><b>Title</b></label>
				<input class="form-control" type="text" name="title" placeholder="Title" required ngModel #title="ngModel">
			</div>

			<!-- Missing Title Alert -->
			<div class="alert alert-danger" *ngIf="title.invalid && title.touched">Title cannot be empty.</div>

			<!-- Blog Entry -->
			<div class="form-group">
				<label for="blog-entry"><b>Entry</b></label>
				<quill-editor class="form-control" name="entry" rows="5" required ngModel #entry="ngModel"></quill-editor>
			</div>

			<!-- Missing Entry Alert -->
			<div class="alert alert-danger" *ngIf="entry.invalid && entry.touched">Entry cannot be empty.</div>

			<!-- Submit Button -->
			<button class="btn btn-primary btn-block float-right" type="submit" [disabled]="f.invalid">Submit</button>

			<br>
			<br>

			<!-- Cancel Button, Nav to Blog List -->
			<button class="btn btn-danger btn-block" routerLink="/admin">Cancel</button>
<!-- 			<button class="btn btn-danger btn-block" routerLink="/admin/{{aid}}/blog">Cancel</button> -->
		</form>
	</div>
</div>

