<!-- Nav Bar -->
<div class="navbar">
<a href="home">Home</a>
<a href="about">About</a>
<div class="dropdown">
	<button class="dropbtn">Services
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-content">
		<a href="services">General Services</a>
		<a href="doing-business">Doing Business</a>
		<a href="itinerary-request">Request Services</a>
	</div>
</div>
<a href="blog-main">Blog</a>
<a href="contact">Contact</a>
<div class="dropdown">
	<button class="dropbtn">Profile
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-content">
		<!-- Make My Account and Log Out disappear when not logged in -->
		<a class="user" href="user/{{uid}}">My Account</a>
		<a class="user" href="login">Log Out</a>
		<a class="guest" href="login">Login</a>
		<a class="guest" href="register">Register</a>
	</div>
</div>
</div>

<div class=blogbackground>
	<div class=blogtransbox>
		<div class="header">
  <h2>Blog Name</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
  </div>
</div>
	</div>
</div>


<!-- footer -->
<nav class="navbar navbar-dark fixed-bottom">
<!-- Admin Login (Button) -->
<div class="sw-width">
	<a class="sw-font-white float-right" href="admin.html"><i class="fas fa-user"></i></a>
</div>
</nav>