/* You can add global styles to this file, and also import other style files */

/*Sources:*/
/* (Hoverable) "Dropdown Menu in Navbar" - https://www.w3schools.com/howto/howto_css_dropdown.asp*/
/*"Group Buttons" https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_button_group_justified*/
/*"Hover Picture" https://www.w3schools.com/howto/howto_css_image_overlay.asp*/
/*"Blog Layout" https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_blog_layout*/
/*Drop-Down Forms (For Survey) https://www.w3schools.com/html/html_form_elements.asp*/
/*Remove Bullets from UL https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_unordered_none)*/
/*Colorful trail effect: https://css-tricks.com/basics-css-blend-modes/*/
/*Two Columns: https://www.w3schools.com/howto/howto_css_two_columns.asp*/
/*Column Ratio Change with Screen Change: https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
/*Viewport (Mobile Ratio): https://www.w3schools.com/css/css_rwd_viewport.asp*/
/*Add Google Search: http://www.developerdrive.com/2012/08/add-a-simple-google-yahoo-or-bing-search-box-to-your-website/*/
/*Country List Dropdown: https://gist.github.com/soul-wish/8030172*/
/*Red "Required" Asterisk: https://codepen.io/thewebtech/pen/grLQpp*/

/*Screen resizing*/
/*@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}*/


/*Default margins for all pages*/
.my-auto{
margin-top: auto;
margin-bottom: auto;
}

/*Required asterisk*/
.required:before{
  content:"*";
  font-weight:bold;
  color: red;
}

/*Where does this go?*/
/*$("input[required]").parent("label").addClass("required");*/

/*Navbar Style (General)*/
.navbar {
    overflow: hidden;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    z-index: 1;
    margin-bottom: 0;
    position: !important;
}

/*Navbar Button/Content Style*/
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* The container <> - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
    margin-top: 0;
}

/*Content inside the drop-down items*/
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*----------------------------------------------------*/

/*Home*/

/*Background*/
.homeBackground {
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
}


/*Transparent Buttons (General)*/
.homebutton {
  margin: 10px; /* Space between buttons */
  border: 1px solid black;
  opacity: 0.8;
}


.homebutton h6 {
  margin: 2%;
  font-weight: bold;
  color: #ffffff;
}

.homebutton a {
  margin: 2%;
  color: #ffffff;
}

.btn-group button {
    border: 1px solid black; /* Black border */
    color: white; /* White text */
    /*padding: 10px 24px;*/ /* Some padding */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
/*.btn-group button:hover {
    background-color: #000000;
    opacity: 0.2;
}*/

/*Hide links unless hover*/
.btn-group button a {
    opacity: 0;
    cursor: pointer; /* Pointer/hand icon */
}

/*Links appear upon button hover*/
.btn-group button:hover a {
    opacity: 1;
}

/*Transparent Button (About)*/
.homebutton1 {
    background-image: url("./media/Gildedmarket.jpg");
    background-position: center;
}

/*Transparent Button (Services)*/
.homebutton2 {
    background-image: url("./media/YellowFlowers.jpg");
    background-position: center;
}

/*Transparent Button (Blog)*/
.homebutton3 {
    background-image: url("./media/CancunView.jpg");
    background-position: center;
}

/*Transparent Button (Contact)*/
.homebutton4 {
    background-image: url("./media/BlueAlley.jpg");
    background-position: center;
}

/*Transparent Button (Profile)*/
.homebutton5{
    background-image: url("./media/PraguePalaceWay.jpg");
    background-position: center;
}

/*----------------------------------------------------*/

/*About Page*/

/*Background Image*/
.aboutbackground { 
    background-image: url("./media/GildedMarket.jpg");
/*    position: fixed;*/
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Transparent Content Box*/
.abouttransbox {
/*  margin: 20px;*/
  padding-top: 30px;
  padding-bottom: 130px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}

.abouttransbox p, ol {
  margin: 2%;
  color: #ffffff;
}

.abouttransbox h6 {
  margin: 2%;
  font-weight: bold;
  color: #ffffff;
}


/*----------------------------------------------------*/

/*General Services Page*/

/*Background Image*/
.genservbackground {
    background-image: url("./media/BlueAlley.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Transparent Content Box*/
.genservtransbox {
  margin: 20px;
  padding: 30px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}

.genservtransbox p {
  margin: 2%;
  color: #ffffff;
}

.genservtransbox label {
  margin: 2%;
  font-weight: bold;
  color: #ffffff;
}

/*----------------------------------------------------*/

/*Doing Business Page*/

/*Background Image*/
.dobizbackground { 
    background-image: url("./media/FortressGarden.jpg");
/*    position: fixed;*/
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Transparent Content Box*/
.dobiztransbox {
/*  margin: 20px;*/
  padding: 30px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}

.dobiztransbox p, ol {
  margin: 2%;
  color: #ffffff;
}

.dobiztransbox h6 {
  margin: 2%;
  font-weight: bold;
  color: #ffffff;
}

/*----------------------------------------------------*/

/*Itinerary Request*/

/*Background Image*/
.itinbackground { 
    background-image: url("./media/CancunView.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Transparent Content Box*/
.itintransbox {
  margin: 20px;
  padding: 30px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}

.itintransbox label {
  margin: 2%;
  font-weight: bold;
  color: #ffffff;
}

.itintransbox p {
  margin: 2%;
  color: #ffffff;
}

.itintransbox a {
  margin: 2%;
}

/* The container <> - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
    margin-top: 0;
}

/*Content inside the drop-down items*/
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navbar a:hover, .servedropdown:hover .servedropbtn {
    background-color: grey;
}

/* Dropdown Content (Hidden by Default) */
.servedropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.servedropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.servedropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.servedropdown:hover .servedropdown-content {
    display: block;
}

/*----------------------------------------------------*/

/*Travel Request Form*/
.requestBackground { 
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
}

/*----------------------------------------------------*/

/*Blog*/

/*Background Image*/
.blogbackground { 
    background-image: url("./media/FlowerTree.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-left: 450px;
    padding-right: 450px;
    padding-bottom: 10px;
}

/*Transparent Content Box*/
.blogtransbox {
  margin: 20px;
  padding: 30px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}

.blogtransbox p, ul {
  margin: 2%;
  color: #ffffff;
}

.blogtransbox h6 {
  margin: 2%;
  font-weight: bold;
  color: #ffffff;
  
}

/*----------------------------------------------------*/
/*Contact*/

/*Background Image*/
.contactbackground { 
    background-image: url("./media/GardenWalkway.jpg");
    /*position: fixed;*/
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Transparent Content Box*/
.contacttransbox1 {
/*  margin: 60px;*/
  padding: 30px;
  width: 600px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}

.contacttransbox {
  margin: 60px;
  padding: 30px;
  width: 600px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}

.contacttransbox label {
  margin: 2%;
  color: #ffffff;
}



/*----------------------------------------------------*/

/*Profile*/

/*Background*/
.profileBackground {
    background-color: #F2C2B7;
    position: fixed;
    width: 100%;
    height: 100%;
}

/*Transparent Content Box*/
.profileTransbox {
 /* margin: 60px;*/
  /*padding: 30px;*/
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}

/*----------------------------------------------------*/

/*Register*/

/*Background*/
.registerBackground { 
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
/*----------------------------------------------------*/

/*Login*/

/*Background*/
.loginBackground { 
    margin-top: 300px;
    margin-left: 800px;
    margin-right: 500px;
    margin-bottom: 300px;
}
/*----------------------------------------------------*/

/*Admin-Login*/

/*Background*/
.adminBackground { 
    margin-top: 200px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 200px;
}

/*----------------------------------------------------*/

/*Admin New Clients*/

/*Background*/
.clientBackground { 
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}


/*Scrapped Contact Styling*/
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}