<!-- Nav Bar -->
<app-navbar></app-navbar>

<!-- About Business: Mission Statement, Customer Promises -->
<div class="aboutbackground">
  <div class="abouttransbox ">

  	<!-- Mission Statement: Heading and Description -->
  	<div class="container-fluid">
  		<h6>Mission Statement:</h6>
		<p>Under Contruction</p>
	</div>

	<!-- Customer Promises: Heading and Description -->	
	<div class="container-fluid">
		<h6>Customer Promises:</h6>
		<ol>
			<li>
			I will do my very best to curate and provide quality travel experiences within your desired budget.
			</li>
			<br>
			<li>
			I will not promote a trip or service that is beneath my own personal travel tastes and standards within your requested price range (unless you insist).
			</li>
			<br>
			<li>
			I will never push or pressure you to book anything. I will book only when you are ready and comfortable with the product or service proposed.
			</li>
			<br>
			<li>
			No quote is ever guaranteed, since market prices and availability can change at any minute. If your package price changes, I will do my absolute best to find you a package with an equal or lesser price at an equal or greater quality if available.
			</li>
			<br>
			<li>
			I promise to put your well-being and enjoyment over profit, meaning that I will not try to sell you products that do not fit your travel needs and wants, for my own gain.
			</li>
			<br>
			<li>
			I promise to provide you the best customer service that I can, and will give you the genuine courtesy and care that you deserve.
			</li>
			<br>
			<li>
			If I am unable to provide the desired product or service, I will point you in the direction of an someone of repute that can.
			</li>
		</ol>
	</div>
  </div>
</div>